---
// FooterHero.astro
---

<section
  class="w-full min-h-[60vh] flex items-center justify-center py-16 px-4 bg-gradient-to-b from-white to-blue-100"
>
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="text-5xl font-medium leading-tight mb-6">
      Dale
      <span class="text-blue-500">superpoderes</span> a tu equipo
    </h1>
    <p class="text-base md:text-lg text-gray-800 max-w-3xl mx-auto mb-10">
      AutoVisita es un asistente personalizado para agencias inmobiliarias en Espa침a. Combinamos automatizaci칩n
      inteligente con gesti칩n centralizada de datos. Cada interacci칩n con tus clientes potenciales se optimiza sin que
      tengas que levantar un dedo.
    </p>
    <div class="mt-8">
      <a href="/bookdemo/" class="cta-gradient transition duration-300"> Solicita una prueba gratuita </a>
    </div>
  </div>
</section>
