---
// Hero.astro
---

<div id="hero" class="max-w-4xl mx-auto px-4 py-16 text-center relative">
  {/* Main Heading */}
  <!-- <h1 class="text-5xl font-bold mb-4">
    Gestiona tu inmobiliaria
    <br />
    <span class="text-primary">en piloto automático</span>
  </h1> -->
  <!-- <h1 class="text-5xl font-bold mb-4">
    Potencia tu Agencia Inmobiliaria con
    <br />
    <span class="text-primary">Inteligencia Artificial</span>
  </h1> -->
  <h1 class="text-5xl font-bold mb-4">
    Cierra operaciones <span class="hidden md:inline">inmobiliarias</span> en la
    <span class="text-primary">mitad de tiempo</span>, sin papeles ni llamadas
  </h1>

  {/* Description */}
  <!-- <p class="text-gray-600 text-xl max-w-2xl mx-auto mb-8">
    Automatiza la gestión de clientes, propiedades y visitas para que puedas centrarte en cerrar más operaciones.
  </p> -->
  <p class="text-gray-600 text-xl max-w-2xl mx-auto mb-8">
    Automatiza con IA la gestión de clientes, propiedades y visitas para que puedas centrarte en cerrar más operaciones.
  </p>

  {/* CTA Button */}
  <a href="/bookdemo/" class="cta-gradient text-lg font-semibold"> Automatiza tu agencia hoy </a>

  {/* Space to allow for video overflow */}
  <div class="h-20"></div>
</div>
